.image-rag {
    max-height: 768px;
    max-width: 1024px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.image-rag-bd {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0px;
}

.image-rag-tb {
    max-height: 200px;
    max-width: 320px;
    height: 100%;
    width: 100%;
}


.closeBtn {
    position: absolute;
    z-index: 1000;
    color: rgb(77,77,77);
}

.closeBtn:hover, .closeBtn:after, .closeBtn:before {
    color: rgb(255,255,255);
}

.carouselRag {
    padding: 5px 5px;
    background-color: #212529;
}

.carouselRagItem {
    height: 820px;
}

.carousel-caption {
    bottom: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

html {
    height:  100%;
}

body {
    min-height: 100%;
}